<h1 class = "canvas">A Canvas</h1>
<canvas id="myCanvas" width="500" height="500" style="border:1px solid #c3c3c3;">Your browser does not support the HTML5 canvas tag.</canvas>
<form>
  R: <input type = "text" class = "rInput"><br>
  G: <input type = "text" class = "gInput"><br>
  B: <input type = "text" class = "bInput"><br>
</form>

<div class = "button">Send</div>