<h1 class = "canvas">A Canvas</h1>
<canvas id="myCanvas" width="500" height="500" style="border:1px solid #c3c3c3;">Your browser does not support the HTML5 canvas tag.</canvas>
<form>
  R: <input type = "text" class = "rInput"><br>
  G: <input type = "text" class = "gInput"><br>
  B: <input type = "text" class = "bInput"><br>
</form>

<div class = "send_button button">Send</div>
<div class = "reload_button button">Reload</div>
<div class = "clear_button button">Clear</div>

<div class = "imgs">
  <img class = "canvasImg" src = "" width = "500px" height = "500px">
  <img class = "searchImg0" src = "" width = "200px" height = "200px">
  <img class = "searchImg1" src = "" width = "200px" height = "200px">
  <img class = "searchImg2" src = "" width = "200px" height = "200px">
</div>

<%= content_tag(:div, "", class: 'data', data:{path_to_asset: asset_path("canvasImg.png"), path_to_asset2: asset_path("imgSearch0.png"), path_to_asset3: asset_path("imgSearch1.png"), path_to_asset4: asset_path("imgSearch2.png")}) %>